@media screen and (min-width: 800px) and (max-width: 960px) {
    .top-banner, .top-logo {
        height: 58px;
    }
    .bg-logo.settings {
        top: 50px;
    }
}
@media screen and (max-width: 960px) {
    .input-label {
        font-size: 13px;
    }
    .slide-title {
        font-size: 14px;
    }
    
    .slider-wrap {
        min-height: 225px;
    }    
    .main-title {    
        font-size: 26px;  
    }
    .slider-wrap {
        min-height: 195px;
    }
    .text-box {
        font-size: 15px;
    }
    .left-arrow, .right-arrow {
        height: 160px;
    }
    .list-body {
        width: 75%;
    }
    .menu-item {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 1150px) {
    .check-form {
        padding: 40px;
    }
    .check-form-wrap {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1250px) {
    
    .slider-wrap {
        min-height: 265px;
    }
    .input-label {
        font-size: 15px;
    }
    
    .text-box:before {
        left: 24%;
    }
    .test-name {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1250px) {
    .left-arrow, .right-arrow {   
        background-size: 49px;
        height: 228px;
        background-size: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .test-name {
        font-size: 13px;
    }
    
}

@media screen and (min-width: 1650px)  {
    .slider-wrap {
        min-height: 365px;
    }
}
@media screen and (min-width: 1750px)  {
    .slider-wrap {
        min-height: 420px;
    }
}
@media screen and (min-width: 1800px)  {
    .slider-wrap {
        min-height: 47%;
    }
}