/* main css styles for cdxProject */


/* ---- Fonts ---- */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
}

/* --- Fonts End --- */


/* --- Common CSS ---- */

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

p {}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin: 0;
}

a {
    color: #404040;
}

a:hover,
a:focus {
    color: #0085a1;
}

a img:hover,
a img:focus {
    cursor: zoom-in;
}

ul {
    list-style: none;  
}

.bg-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e2ebf2 url(../img/background.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 760px;
    height: 100%;
    position: relative;
}

.bg-logo {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 14%;    
    right: 0;    
    margin: auto;
    bottom: 20px;
}

.bg-eye {
    position: absolute;    
    left: 0;
    opacity: 0.2;
    bottom: 10%;
}

.container {
    width: 90%;    
    margin: 0 auto;
    position: relative;
    max-width: 1365px;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.submit-arrow {
    display: block;
    background-image: url(../img/submit-arrow.jpg);
    background-repeat: no-repeat;
    width: 64px;
    height: 50px;
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: -70px;
    cursor: pointer;
}

/*
* custom sizes s10, s20, s25, s50, s75, s100 in %
*/
.s20, .s25, .s40, .s50, .s75 {
    float: left;
}
.s20 {
    width: 20%;
}
.s35 {
    width: 35%;
}
.s50 {
    width: 50%;   
}
.s75 {
    width: 50%;    
}
.s100 {
    width: 100%;
}

.main-font, .input-label, .check-title, .check-form .form-line {
    color: #0b5697;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

/***** registration css style *****/

.top-head {
    margin-top: 35px;
    margin-bottom: 25px;
}

.text-wrap {
    background: #0c5697;
    padding: 13px;
    border-bottom-right-radius: 9px;
}

.top-banner {
    width: 35%;
    margin: auto;    
}

.main-title {
    color:#fff;
    font-size: 30px;
    text-align: center;
}

.top-logo {
    float: left;
    width: 71px;
}
.form-wrap {
    overflow: hidden;
}
.form-line {
    margin-bottom: 15px;
    overflow: hidden;
}
.input-label {
    
}
.input-req {
    color: #f36f27;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
}
.form-field {
    border: 1.5px solid #0b5697;
    padding: 8px;    
    display: block;    
    width: 100%;    
}
.reg .s20 {
    padding-left: 2%;
    padding-right: 2%;
}
.check-form {
    background: #fff;
    overflow: hidden;
    border: 1.5px solid #0b5697;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    padding: 18px;
}
.check-form .form-line {
    min-height: 26px;
    margin-bottom: 10px;
}
.check-form-wrap {
    padding-left: 2%;
    padding-right: 2%;
}

.info-wrap {
    padding-left: 10px;    
}
.info-input {
    border: 1.5px solid #0b5697;
    padding: 5px;
    width: 100%;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 2px solid #0b5697;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
    border-radius: 3px;
    top: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    float: left;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: -2px;
    left: 1px;
    color: #f66d27;
}

/***** bottom menu css style *****/

#main-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    //width: 100%;
}
.navigation {
    float: right;
}
.navigation li {    
    float: left;
    min-width: 215px;
    text-align: center;    
    position: relative;
    background-repeat: no-repeat;
    padding: 11px;
    background-image: url(../img/btmmenu-button-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: -7px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
.navigation li:hover {
    bottom: -1px;
}
/* menu buttons section */

li.active {
    bottom: -1px;
    background-image: url(../img/btmmenu-button-orange.png);
    z-index: 5;
}
li.active:hover {
    
}
.navigation li:after {
    display: block;
    content: "";
    background-image: url(../img/button-right.png);
}
.navigation li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;    
}
.navigation li a:hover {
    
}
.inner-text {
    display: block;
    padding-top: 8px;
    padding-left: 25px;
}

/* screen02 css styles */

.slide-item {
    width: 100%;
    margin-bottom: 20px;
}
.slider-viewport .s20 {
    padding: 40px;
}

.slide-title {
    color: #0d5595;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.slider-wrap {
    overflow: hidden;
    min-height: 325px;
}
.text-box {
    background: #fff;
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 4px;
    border-top-left-radius: 41px 40px;
    border-bottom-right-radius: 41px 40px;
    margin-top: 10px;
    min-height: 225px;
}
.text-box:before {
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    top: -71px;
    left: 26.5%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
}
.text-box.box1:before {
    left: 6.5%;
}
.text-box.box2:before {
    left: 26.5%;
}
.text-box.box3:before {
    left: 47.5%;
}
.text-box.box4:before {
    left: 68.5%;
}
.text-box.box5:before {
    left: 89%;
}
.slider-viewport {   
    width: 90%;
    margin: 0 auto;    
    position: relative;
}

.slider-viewport .s20 {
    padding: 15px;
    position: absolute;
    cursor: pointer;
    transition: all 0.4s ease-in 1s;    
}
.hidden {
    display: none;
}
.left-arrow, .right-arrow {
    background-repeat: no-repeat;    
    height: 275px;
    background-size: 100%;
    display: block;
    width: 5%;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    height: 325px;
    overflow: hidden;
}
.left-arrow {    
    background-image: url(../img/scr2-ar-left.jpg);   
    background-size: cover;
    left: 0;
}
.right-arrow {   
    background-image: url(../img/scr2-ar-right.jpg);
    background-size: cover;
    right: 0;
}
.fade {
    transition: all 0.2s linear 0.5s;
    opacity: 0;
}

/* screen03 css styles */
