/* main css styles for cdxProject */


/* ---- Fonts ---- */
@font-face {
    font-family: "TaiLe";
    src: url("../fonts/taile.ttf") format("truetype");
}

/* --- Fonts End --- */


/* --- Common CSS ---- */

* {
    font-family: 'TaiLe', 'Arial', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

p {
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'TaiLe', sans-serif;
    font-weight: 500;
    margin: 0;
}

a {
    color: #404040;
}

    a:hover,
    a:focus {
        color: #0085a1;
    }

    a img:hover,
    a img:focus {
        cursor: zoom-in;
    }

ul {
    list-style: none;
}

.bg-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e2ebf2 url(../img/background.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    padding-bottom: 105px;
}

.bg-wrap2 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e2ebf2 url(../img/background.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    padding-bottom: 105px;
    opacity: 0;
}

.loading-cont {
}

.loading-cont2 {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-logo {
    position: absolute;
    left: 4%;
    width: 10%;
    top: 50px;
}

.bg-logo.settings {
    position: absolute;
    left: 6%;
    width: 14%;
    margin: inherit;
    top: 45px;
}

.bg-eye {
    position: absolute;
    left: 0;
    opacity: 0.2;
    bottom: 10%;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.submit-arrow {
    position: fixed;
    display: block;
    background-image: url(../img/right-arrow-small.png);
    background-repeat: no-repeat;
    width: 38px;
    height: 56px;
    background-size: 100%;
    right: 0;
    top: 48%;
    cursor: pointer;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.5;
    }
}

.flash {
    animation: flash linear .5s;
}

/*
* custom sizes s10, s20, s25, s50, s75, s100 in %
*/
.s20, .s25, .s40, .s50, .s75 {
    float: left;
}

.s20 {
    width: 20%;
}

.s35 {
    width: 35%;
}

.s40 {
    width: 40%;
}

.s50 {
    width: 50%;
}

.s75 {
    width: 50%;
}

.s100 {
    width: 100%;
}

.main-font, .input-label, .check-title, .check-form .form-line, .profile-label {
    color: #0b5697;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

/***** registration css style *****/

.top-head {
    margin-top: 35px;
    margin-bottom: 25px;
}

.text-wrap {
    background: #0c5697;
    padding: 13px;
    border-bottom-right-radius: 9px;
    height: 80px;
    width: 87%;
    float: left;
}

.top-banner {
    width: 60%;
    margin: auto;
    height: 80px;
    overflow: hidden;
}

.top-banner.err-banner {
    background: #fff;
    border: 1px solid #ddd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-banner.err-banner img {
    padding-top: 10px;
    padding-left: 10px;
}

.err-banner .top-logo {
    float: left;
    height: 61px;
}

.top-banner.err-banner .main-title {
    color: #232323;
}

.top-banner.err-banner .text-wrap {
    background: #fff;
}

.main-title {
    color: #fff;
    font-size: 43px;
    text-align: center;
    font-weight: bold;
}

.err-notes {
    font-size: 13px !important;
}

.top-logo {
    float: left;
    width: 13%;
    height: 81px;
}
.bot-logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    bottom: 150px;
    max-width: 40%;
    opacity: 0.6;
}
.form-wrap {
    overflow: hidden;
}

.form-line {
    margin-bottom: 15px;
    overflow: hidden;
}

.input-label {
}

.input-req {
    color: #f36f27;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
}

.form-field, .profile-input {
    border: 1.5px solid #0b5697;
    padding: 8px;
    display: block;
    width: 100%;
}

.form-field.error, .profile-input.error {
    border: 1.5px solid #E00000;
}

.reg .s20, .reg .s40 {
    padding-right: 2%;
}

.check-form {
    background: #fff;
    overflow: hidden;
    border: 1.5px solid #0b5697;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    padding: 18px;
}

    .check-form .form-line {
        min-height: 26px;
        margin-bottom: 10px;
    }

.check-form-wrap {
    padding-right: 2%;
}

.info-wrap {
    padding-left: 10px;
}

.info-input {
    border: 1.5px solid #0b5697;
    padding: 5px;
    width: 100%;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 2px solid #0b5697;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
    border-radius: 3px;
    top: 8px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    float: left;
}

.regular-checkbox {
    display: none;
}

    .regular-checkbox:checked + label:after {
        content: '\2714';
        font-size: 15px;
        position: absolute;
        top: -2px;
        left: 1px;
        color: #f66d27;
    }

/***** bottom menu css style *****/

#main-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 32px;
}

.navigation {
    position: relative;
}

    .navigation li {
        min-width: 215px;
        text-align: center;
        background-repeat: no-repeat;
        position: relative;
        padding: 11px;
        background-image: url(../img/btmmenu-button-blue.png);
        background-repeat: no-repeat;
        background-size: 100%;
        transition: all 0.2s ease 0s;
        cursor: pointer;
        display: table-cell;
        bottom: -5px;
    }

        .navigation li:hover {
            bottom: -3px;
        }

.nav-wrap {
    position: relative;
    min-height: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    bottom: 12px;
}
/* menu buttons section */

li.active {
    bottom: -2px;
    background-image: url(../img/btmmenu-button-orange.png);
    z-index: 5;
}

    li.active:hover {
    }

.navigation li:after {
    display: block;
    content: "";
    //background-image: url(../img/button-right.png);
}

.navigation li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

    .navigation li a:hover {
    }

.inner-text {
    display: block;
    padding-top: 8px;
    padding-left: 25px;
}

/* screen02 css styles */

.slide-item {
    width: 100%;
    margin-bottom: 5px;
}

.slide-title {
    color: #0d5595;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-box {
    background: #fff;
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 4px;
    border-top-left-radius: 41px 40px;
    border-bottom-right-radius: 41px 40px;
    margin-top: 10px;
    min-height: 225px;
}

.text-box-before {
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    top: 10px;
    left: 26.5%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
}

.text-box-before.box1 {
    left: 5%;
}

.text-box-before.box2 {
    left: 27%;
}

.text-box-before.box3 {
    left: 49%;
}

.text-box-before.box4 {
    left: 70%;
}

.text-box-before.box5 {
    left: 93%;
}

.slider-viewport {
    width: 100%;
    margin: 0;
}

.slider-viewport .s20 {
    padding: 5px;
    position: absolute;
    cursor: pointer;
    min-height: 118px;
    max-height: 246px;
    transition: all .2s ease-in .05s;
}

.hidden {
    display: none;
}

.left-arrow, .right-arrow {
    background-repeat: no-repeat;
    height: 128px;
    width: 19px;
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    background-position: center center;
}

.left-arrow {
    background-color: #98b7d3;
    background-image: url(../img/left-arrow-tall.png);
    left: 0;
}

.right-arrow {
    background-color: #0d5595;
    background-image: url(../img/right-arrow-tall.png);
    right: 0;
}

.fade {
    transition: all 0.2s linear 0.5s;
    opacity: 0;
}

/* screen03 css styles */

.list-body {
    width: 45%;
    margin: 0 auto;
}

.label {
    background: #0c5697;
    overflow: hidden;
    color: #fff;
    padding: 13px;
    font-size: 15px;
    border-top-left-radius: 14px 24px;
    border-bottom-left-radius: 14px 24px;
    border-top-right-radius: 14px 24px;
    border-bottom-right-radius: 14px 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 5;
}

.label .right-col {
    text-align: right;
}

.list-item {
    background: #fff;
    color: #0c5697;
    overflow: hidden;
    margin-top: 15px;
    border-top-left-radius: 14px 24px;
    border-bottom-left-radius: 14px 24px;
    border-top-right-radius: 14px 24px;
    border-bottom-right-radius: 14px 24px;
    font-weight: bold;
    font-size: 15px;
    height: 43px;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

.test-position {
    float: left;
    width: 25%;
    text-align: center;
    border-right: 2px solid #ccc;
    padding: 13px;
}

.test-name {
    width: 50%;
    float: left;
    padding: 13px;
    text-align: left;
    padding: 12px 15px 0px 15px;
    border-right: 2px solid #ccc;
    height: 43px;
}

.menu-item {
    background: #0c5697;
    border-right: 2px solid #ccc;
    float: left;
    width: 16.59%;
    color: #fff;
    padding: 13px 13px 0px 13px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.config-menu {
    overflow: hidden;
    margin-top: 45px;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 70px;
}

.menu-item.left-item {
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.menu-item.right-item {
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}

.menu-item.active {
    background: #f26d21;
}

.menu-item:hover {
    background: #f26d21;
}

.test-control {
    float: left;
    width: 25%;
    padding: 10px;
}

.controls {
    overflow: hidden;
    margin: 0 auto;
    padding-left: 25%;
}

.controls li {
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.move-up, .move-down {
    transition: all 0.1s linear 0.2s;
}

.move-up:hover, .move-down:hover {
    background: #0c5697;
    color: #fff;
}

.test-list {
    overflow-y: auto;
}

/* top navigation styles */

.top-menu-item, .control-btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.control-btn a img {
    cursor: pointer;
}

.top-menu-item.control-btn {
    background: none;
    min-width: 40px;
    padding: 0;
}

.top-menu-item {
    min-width: 215px;
    max-width: 16.3%;
    background-image: url(../img/btmmenu-button-blue.png);
    background-size: 100%;
    padding: 11px;
    transform: rotateX(180deg);
    z-index: 4;
    bottom: 7px;
    transition: all 0.2s ease 0s;
}

.top-menu-item:hover {
    bottom: 3px;
}

.top-menu-item.active {
    bottom: 3px;
    background-image: url(../img/btmmenu-button-orange.png);
    z-index: 5;
    background-repeat: no-repeat;
}

.top-nav-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 5;
}

.top-nav-wrap a {
    transform: rotateX(180deg);
    display: block;
    color: #fff;
    text-decoration: none;
}

/* size calibration screen */
.step {
    margin-bottom: 20px;
}

.step-title {
    color: #0c5596;
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
}

.step-box {
    color: #0c5596;
    font-size: 18px;
    background: #fff;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 67px;
    line-height: 38px;
}

.step-input {
    border: 2px solid #0c5596;
    padding: 5px;
    width: 140px;
    margin-left: 2%;
}

.steps {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 85px;
}

.inner-title {
    margin-left: 2%;
}

.inner-list {
    border: 2px solid #0c5596;
    padding: 5px;
    cursor: pointer;
}

.close, .save {
    width: 48px;
    height: 45px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 15%;
    padding-top: 44px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.close:hover {
    color: #ff0006;
}

.save:hover {
    color: #119504;
}

.close {
    background-image: url(../img/cross.png);
    color: #ff0006;
    background-size: 25px;
    background-position: center center;
    border: 2px solid #ff0006;
    border-radius: 4px;
}

.save {
    background-image: url(../img/ok.png);
    color: #119504;
    border: 2px solid #119504;
    background-size: 34px;
    background-position: center center;
}

.controls-wrap {
    float: left;
    width: 15%;
}

.step-box.last {
    width: 85%;
    float: left;
}

.inner-radio {
    margin-left: 3%;
}

.step input[type=radio],
.step input[type=checkbox], .calibration-form input[type=radio] {
    display: none;
}

.step input[type=radio] + label:before, .calibration-form input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #fff;
    //box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 8px;
    border: 1px solid #0c5596;
    cursor: pointer;
}


.step input[type=radio]:checked + label:before, .calibration-form input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f26d21;
    background-color: #fff;
    font-size: 1.8em;
    text-align: center;
    line-height: 16px;
    text-shadow: 0px 0px 3px #eee;
    cursor: pointer;
}


/*
* side menu css
*/


.side-menu {
    position: fixed;
    top: 35%;
    z-index: 6;
}

.side-menu-item {
    background: #0c5596;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 15px;
    text-align: center;
    padding-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.side-menu-item.active {
    background: #f26d21;
}

.side-menu-item a {
    color: #fff;
}

.side-menu-item a:hover {
    text-decoration: none;
    color: #fff;
}

.scale {
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 133px;
    right: 2%;
}

.scale img {
    min-height: 495px;
}

.step.custom {
    width: 106%;
}

.custom .step-box {
    border-bottom-right-radius: 0;
}

/* change email page */

.email-form-wrap {
    width: 400px;
    margin: 0 auto;
}

.email-input {
    border: 2px solid #0c5596;
    padding: 8px;
    width: 100%;
    margin: 0 auto;
}

    .email-input.clear {
        border: none;
    }

.form-label {
    color: #0c5697;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 3px;
}

.reset-btn, .submit-btn, .lunch-btn {
    color: #fff;
    background: #0c5596;
    border: none;
    padding: 15px;
    margin-top: 35px;
    width: 45%;
    margin-right: 8%;
    opacity: 0.5;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.submit-btn, .lunch-btn {
    opacity: 1;
    margin: 0;
}
.lunch-btn {
    display: block;
}
.email-form {
    margin-top: 85px;
    margin-bottom: 100px;
}

.input-wrap {
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
}

.profile-label {
    display: block;
}

.profile-line {
    margin-bottom: 60px;
}

.input-box-wrap {
    width: 80%;
    margin: 0 auto;
}

    .input-box-wrap .input-wrap {
        width: 28.8%;
    }

.profile-calibration {
    padding-top: 40px;
    padding-bottom: 40px;
}

.button-controls-wrap {
    width: 180px;
    overflow: hidden;
    margin: 0 auto;
}

/* calibration color */
.calibration-form {
    overflow: hidden;
    padding: 20px 15px;
    background: #fff;
}

.inner-text-wrap {
    width: 60%;
    margin: 0 auto;
    color: #0c5596;
    padding-top: 40px;
    padding-bottom: 30px;
}

.calibration-form-wrap {
    width: 60%;
    min-height: 333px;
    margin: 0 auto;
    color: #0c5596;
}

.inner-text-wrap p {
    font-size: 20px;
    line-height: 17px;
}

.calib-form-title {
    font-weight: bold;
    margin-bottom: 3px;
}

.calibration-list li {
    margin-bottom: 25px;
}

.calibration-inputs-list {
    padding-left: 6%;
    padding-right: 6%;
}

.calibration-form {
    overflow: hidden;
    padding: 20px 15px;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.calibration-inputs-list li {
    margin-bottom: 25px;
}

.set-date {
    padding: 15px;
    background: #0c5596;
    color: #fff;
    text-align: center;
    display: block;
    width: 180px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 auto;
    margin-top: 35px;
    cursor: pointer;
}

.set-date:hover {
    color: #fff;
}

.overlay {
    background: #fff;
    width: 100%;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    display: none;
}

/* deactivation page */
.serial-title, .warn-title {
    color: #0d5595;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
.serial-key {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.white-box {
    color: #0d5595;
    background: #fff;
    width: 100%;
    display: block;
    padding: 8px;
    font-size: 20px;
}
.warning-window .white-box {
    padding-left: 25px;
    padding-right: 25px;
}
.notification {
    background: #119504;
    width: 465px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 30px auto;
}
.notification.disconnected {
    background: #ff0006;
}
.deactivate-btn {    
    background-color: #0c5596;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 300px;
    display: block;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 0 auto;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.status-list {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
}
.status-list li {
    font-size: 18px;
    color: #0d5595;
    font-weight: bold;
}
.attention {
    left: -42px;
    width: 96px;
    top: -21px;
    position: absolute;
}
.teamviewer-wrap {
    width: 65%;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
}
.teamview-icon {
    width: 14%;
    float: left;
    margin-right: 3%;
}
.teamviewer-wrap .white-box {
    float: left;
    width: 83%;
    padding: 20px;
    padding-bottom: 45px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.inner-box {
    overflow: hidden;
    margin-bottom: 45px;
    padding-bottom: 15px;
}
.lunch-btn {
    display: block;
    width: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.lunch-btn:hover {
    color: #fff;
}
/* tests screen styles */
.test-scr-wrap {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.small-test {
    max-width: 100%;
}
.test-picture {
    position: relative;
    width: 50%;
}
.test-pic {
    width: 50%;
    float: left;   
    position: relative;    
}
.test-info {
    float: left;
    width: 50%;
    padding: 15px;
}
.instructions-list li {
    background: #fff;
    border-top-left-radius: 18px;
    padding: 15px;
    border-bottom-right-radius: 18px;
    margin-bottom: 20px;
}
.nums-pad {    
    width: 225px;
    display: block;    
    margin-right: auto;
    margin-left: auto;
    margin-top: 19%;
}
.floated .nums-pad {
    float: right;
    margin-right: 10%;
}
.num-item {
    background: #fff;
    padding: 10px 21px 10px 21px;
    display: inline-block;
    text-align: center;   
    border-radius: 100%;
    border: 1px solid #f26d21;
    font-weight: bold;
    color: #0c5596;
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.num-item.clear {
    background: #f26d21;
    border: 1px solid #f26d21;
    color: #fff;
}
.num-item.not {
    background: #0c5596;
    border: 1px solid #0c5596;
    color: #fff;
}
.current-test-pic {
    margin: 0 auto;
    display: block;
    position: relative; 
    //top: 0;
    //left: 0;
}
.answer-field {
    border: 1px solid #0c5596;
    padding: 10px;
    width: 300px;    
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 15px;
    //left: 0;
    //right: 0;
}

.answer-wrap {
    width: 50%;
}
.bot-sticker {
    position: absolute;
    bottom: 35px;
    left: 2%;
    width: 150px;
}
.test-answer-wrap {
    width: 50%;
    position: absolute;
}
.floated .figure-pad {
    float: right;
    margin-right: 10%;
}
.figure-pad {
    width: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}
.figure-item {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 100%;
    display: block;
    border: 1px solid #f26d21;
    margin-bottom: 15px;
    background-image: url(../img/buttons-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.figure-item.circle {
    background-position: -3px -42px;
}
.figure-item.star {
    background-position: -3px -126px;
}
.figure-item.square {
    background-position: -3px -207px;
}